* {
    margin: 0;
    padding: 0;
}

.navBar {
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    z-index: 99;
    align-items: center;
}

h1 {
    width: 80%;
    margin: 0px auto;
    color: ghostwhite;
}

.main {
    width: 80%;
    height: 1200px;
    margin: 0px auto;
    display: flex;
}

.mainLeft {
    width: 30%;
    height: 100%;
}

.mainUser {
    width: 450px;
    height: 600px;
    margin-top: 130px;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainUser p {
    color: blue;
    text-decoration: underline;
}

.mainUser p:hover {
    cursor: pointer;
}

.mainUser img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.mainRight {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainRight h2 {
    margin-top: 90px;
    margin-left: 20px
}

.user {
    width: 700px;
    height: 350px;
    margin: 10px 20px;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user p {
    font-size: 16px;
}

.user2 {
    width: 700px;
    height: 350px;
    margin: 10px 20px;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user2 p {
    font-size: 16px;
}

.like {
    width: 50px;
    height: 25px;
    background-color: yellow;
    box-shadow: 5px 5px 2px black;
}

#underline {
    text-decoration: underline;
    color: blue;
}

#underline:hover {
    cursor: pointer;
}